@layer reset, base, layout, theme, motion;

@import "reset.css" layer(reset);

/* We make these property declarations so the browser knows how to transition them - that way we can make the seasonal color change more gradual */
@property --primary-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ccd8ab;
}

@property --secondary-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #9cb459;
}

@property --accent-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #f78ba5;
}

/* Base is our defaults - the tokens we have available and the basic typography the whole site should use */
@layer base {
  :root {
    /* Font types sizing */
    --sans: "Figtree";
    --serif: "Yeseva One";
    --fsize-small: 0.833rem;
    --fsize-base: 1rem;
    --fsize-large: 1.2rem;
    --fsize-h2: 2.074rem;
    --fsize-h1: 2.488rem;
    --fsize-h3: 1.728rem;

    /* Primitive color values */
    --text-color: #2d1b11;
    --spring-primary-color: #f6c1cb;
    --spring-secondary-color: #f18e9d;
    --spring-accent-color: #bda4e0;
    --summer-primary-color: #ccd8ab;
    --summer-secondary-color: #9cb459;
    --summer-accent-color: #f78ba5;
    --autumn-primary-color: #f4c6ad;
    --autumn-secondary-color: #f29369;
    --autumn-accent-color: #a6b86f;
    --winter-primary-color: #add8f6;
    --winter-secondary-color: #52b3ea;
    --winter-accent-color: #6dc2c0;

    /* spacing - space-1 is the base value, so every step higher up is space-1 * the step number */
    --space-1: 0.125rem; /* 2px */
    --space-2: 0.25rem; /* 4px */
    --space-4: 0.5rem; /* 8px */
    --space-6: 0.75rem; /* 12px */
    --space-8: 1rem; /* 16px */
    --space-12: 1.5rem; /* 24px */
    --space-16: 2rem; /* 32px */
    --space-20: 2.5rem; /* 40px */

    --radius: 0.25rem;
  }

  body {
    font-family: var(--sans);
    transition:
      --primary-color 0.3s ease-in-out,
      --secondary-color 0.3s ease-in-out,
      --accent-color 0.3s ease-in-out;
  }

  h1,
  h2 {
    font-family: var(--serif);
    color: var(--text-color);
  }

  h1 {
    font-size: var(--fsize-h1);
  }

  h2 {
    font-size: var(--fsize-h2);
  }

  p,
  li,
  a,
  span,
  button {
    color: var(--text-color);
    font-size: var(--fsize-base);
  }
}

/* Layout is our page structure, how we want the elements to be organized on the screen and the space they should have and give each other */
@layer layout {
  main {
    --season-width: 20rem;
    display: grid;
    grid-template-columns: var(--season-width) 1fr;
    gap: var(--space-12);

    &.season-expanded {
      --season-width: 26rem;
    }
  }

  @media (width <= 769px) {
    main {
      grid-template-columns: 1fr;
      --season-width: 2rem;

      &.season-expanded {
        --season-width: 8rem;
      }
    }
  }

  /* toggle visibility of the current in season herbs */
  body:has(input[value="spring"]:checked) [data-season="spring"] {
    display: revert;
  }

  body:has(input[value="summer"]:checked) [data-season="summer"] {
    display: revert;
  }

  body:has(input[value="autumn"]:checked) [data-season="autumn"] {
    display: revert;
  }

  body:has(input[value="winter"]:checked) [data-season="winter"] {
    display: revert;
  }

  /* toggle display of the active batch lists */
  body:has(input[value="spring"]:checked) .batch-list [data-season="spring"] {
    display: grid;
  }

  body:has(input[value="summer"]:checked) .batch-list [data-season="summer"] {
    display: grid;
  }

  body:has(input[value="autumn"]:checked) .batch-list [data-season="autumn"] {
    display: grid;
  }

  body:has(input[value="winter"]:checked) .batch-list [data-season="winter"] {
    display: grid;
  }

  #batches[data-view="detail"] {
    & .batch-list-detail.is-active {
      display: grid;
    }

    & .batch-list-detail {
      display: none;
    }

    & .batch-list {
      display: none;
    }
  }

  #batches[data-view="dashboard"] {
    & .batch-list-detail {
      display: none;
    }

    & .batch-list {
      display: grid;
    }
  }
}

/* Theme is then our stylistic choices - what colors do we want things to be, how should they look? */
@layer theme {
  body:has(input[value="spring"]:checked) {
    /* Semantic color properties - what the site will actually use */
    --primary-color: var(--spring-primary-color);
    --secondary-color: var(--spring-secondary-color);
    --accent-color: var(--spring-accent-color);
  }

  body:has(input[value="summer"]:checked) {
    --primary-color: var(--summer-primary-color);
    --secondary-color: var(--summer-secondary-color);
    --accent-color: var(--summer-accent-color);
  }

  body:has(input[value="autumn"]:checked) {
    --primary-color: var(--autumn-primary-color);
    --secondary-color: var(--autumn-secondary-color);
    --accent-color: var(--autumn-accent-color);
  }

  body:has(input[value="winter"]:checked) {
    --primary-color: var(--winter-primary-color);
    --secondary-color: var(--winter-secondary-color);
    --accent-color: var(--winter-accent-color);
  }

  main {
    background: var(--primary-color);
    box-shadow: inset 0 2px 2px 0
      color-mix(in srgb, var(--text-color) 30%, transparent);
  }
}

@layer motion {
  ::view-transition-group(batch-panel) {
    animation: none;
    overflow: clip;
  }

  #batches {
    view-transition-name: batch-panel;
  }

  @keyframes slide-from-right {
    from {
      translate: 20% 0;
      opacity: 0;
    }
  }
  @keyframes slide-to-left {
    to {
      translate: -20% 0;
      opacity: 0;
    }
  }
  @keyframes slide-from-left {
    from {
      translate: -20% 0;
      opacity: 0;
    }
  }
  @keyframes slide-to-right {
    to {
      translate: 20% 0;
      opacity: 0;
    }
  }

  html[data-view="detail"] {
    &::view-transition-new(batch-panel) {
      animation: 375ms ease-in both slide-from-right;
    }
    &::view-transition-old(batch-panel) {
      animation: 375ms ease-out both slide-to-left;
    }
  }

  html[data-view="dashboard"] {
    &::view-transition-new(batch-panel) {
      animation: 375ms ease-in both slide-from-left;
    }
    &::view-transition-old(batch-panel) {
      animation: 375ms ease-out both slide-to-right;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html::view-transition-old(*),
    html::view-transition-new(*) {
      animation-duration: 1ms;
    }
  }
}
